<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>


<b><center><font size="6">Introduction à python - Séance 5</font></center></b>

<b><center><font size="6">Coder des fonctions sous python - exercices</font></center></b>
    
<g><h7><center> CM - P. Durand  - pierre.durand@u-pec.fr </center></h7></g>



<b><center><font size="5">M1 - 2022-2023</font></center></b> 



</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>



<hr style=" border: 2.5px solid black;">
<br>

__Plan du cours__
<br>

- Partie I : introduction et appréhension du langage python 
    - Séance 1 - variables et syntaxe de base
    - Séance 2 - boucles et structure conditionnelle - exercices d'application
    - Séance 3 - exercices d'application : utilisation et combinaison des outils acquis
    - Séance 4 - exercices d'application : prise d'autonomie sur la recherche d'information
    
- Partie II : apprendre à coder
    - <b>Séance 5 - fonctions sous python - exercices d'application</b>
    - Séance 6 - exercices d'application : coder des fonctions simples
    - Séance 7 - bases de données et manipulation des données sous python - exercices d'application
    - Séance 8 - exercices d'application : manipulation de bases de données
    - Séance 9 - exercices d'application : restitution des connaissances de l'ensemble du cours
    
- Partie III : prise de recul sur un code python
    - Séance 10 - commenter un code et utiliser ChatGPT

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

<hr style=" border: 2.5px solid black;">
<br>

# Exercices


__Exercice 1 - fonction simple__

Ecrire une fonction prenant en argument une liste et renvoyant la longueur de la liste.

In [6]:
l = [1,2,3]
len(l)

3

In [7]:
def length( l ) : 
    resultat = len(l)
    return resultat

In [8]:
une_liste = ["a",'b']
length(une_liste)

2

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

__Exercice 2 - fonction simple__

Ecrire une fonction permettant de trouver le plus petit entier dans une liste

In [62]:
l = [1,2,3,4]

def minimum(l):
    return min(l)

l = [2,3,4,5]

In [61]:
une_liste = [4,3,-2,10]
minimum(une_liste)

-2

In [63]:
minimum(l)

2

In [66]:
l = [2,1,4,5]
sorted(l)[0]

1

In [67]:
def smallest(une_l):
    return sorted(une_l)[0]

In [68]:
smallest(l)

1

In [70]:
l = [2,1,4,5,-2]


plus_petit = l[0]

for i in l :
    if i < plus_petit :
        plus_petit = i

print(plus_petit)

-2

In [ ]:
def minimum(l):

    plus_petit = l[0]

    for i in l :
        if i < plus_petit :
            plus_petit = i

    return plus_petit

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

__Exercice 3 - notes et élèves__

1- On nous donne en argument un dictionnaire de noms. Les noms sont les clefs et leur attribut est une note. Ecrire une fonction retournant la liste des élèves ayant au moins 10.

<br> 
2- Ecrire une autre fonction retournant la moyenne de la classe et la liste des élèves ayant eu au dessus de la moyenne.

In [76]:
#Tester avec : 
dico = {'Durand':5.6, 'Teuf':12.01, 'Morvillier':15.5, 'Einstein':9.75, 'Newton':17, 'Bohr':8.4, 'Tesla':11}
dico.items()

dict_items([('Durand', 5.6), ('Teuf', 12.01), ('Morvillier', 15.5), ('Einstein', 9.75), ('Newton', 17), ('Bohr', 8.4), ('Tesla', 11)])

In [74]:
d = {'Durand':5.6, 'Teuf':12.01}
d.keys()

dict_keys(['Durand', 'Teuf'])

In [75]:
d = {'Durand':5.6, 'Teuf':12.01}

res = []
for key in d.keys():
    if d[key] < 10 :
        res.append(key)
res

['Durand']

In [77]:
res = []
for key in dico.keys():
    if dico[key] < 10 :
        res.append(key)
res

['Durand', 'Einstein', 'Bohr']

In [ ]:
def note_inf_10(d) : 
    res = []
    for key in d.keys():
        if d[key] < 10 :
            res.append(key)
    return res


<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

__Exercice 4 - évlolution d'un population__

Une population _p0_ augmente chaque année de $x$ \%  (_percent_). Chaque année également, il y a un certain nombre fixe de départs (_leave_). On souhaite savoir en combien d'année.s la population atteindra un certain seuil (_target_). Ecrire la fonction prenant en paramètres _p0, percent, leave, target_ et qui renvoie le nombre d'années que met la population à atteindre ce seuil.

In [1]:
p0 = 1500
percent = 5
leave = 50
target = 5000

# initialisation d'un compteur à 0
c = 0
while p0 < target : 
    # la variation de la population (+ x% - le nombre de départ / leave)
    p0 = p0 * (1 + 5/100) - leave
    # on ajoute 1 au compteur pour chaque année qui passe où la condition n'est pas respectée
    c += 1
    
print(c)

43

In [2]:
def evol_pop(pop, pct, dep, threshold) :
    # initialisation d'un compteur à 0
    c = 0
    while pop < threshold : 
        # la variation de la population (+ x% - le nombre de départ / leave)
        pop = pop * (1 + pct/100) - dep
        # on ajoute 1 au compteur pour chaque année qui passe où la condition n'est pas respectée
        c += 1

    return c

In [4]:
# Test : 
a,b,c,d = 1500, 5, 50, 5000 # réponse : 43
e,f,g,h = 1500000, 2.5, 10000, 2000000 #réponse 16
i,j,k,l = 1500000, 0.25, 1000, 2000000 #réponse  151

In [5]:
print(evol_pop(a,b,c,d))
print(evol_pop(e,f,g,h))
print(evol_pop(i,j,k,l))

43
16
151

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>


__Exercice 5 - fonction avec paramètre par défaut__

Ecrire une fonction ayant pour paramètre une liste et permettant de renvoyer une autre liste dont les éléments sont les carrés de la première. Ajouter une option de sorte que l'on puisse choisir de renvoyer cette liste de façon inversée. Procéder ainsi :
- Ecrire une fonction permettant de stocker au sein d'une liste les carrés des éléments de la liste mise en paramètre
- Ajouter une option dans les paramètres (c a d, un paramètre dont la valeur est fixée par défaut). Par exemple un booléen (vrai, faux) 
- Ajouter dans le corps de la fonction une structure conditionnelle de sorte que si l'option n'est pas vérifiée, la fonction renvoie la liste des carrés, inversée

In [9]:
l = [1,2,3,4.2]

res = []
for i in l :
    res.append(i**2)
    
print(res)

[1, 4, 9, 17.64]

In [17]:
option = False
l = [1,2,3,4.2]

res = []
for i in l :
    res.append(i**2)

if option != True :
    res.sort(reverse=True)
    
print(res)

[17.64, 9, 4, 1]

In [18]:
def square(l, option = True) : 
    res = []
    for i in l :
        res.append(i**2)

    if option != True :
        res.sort(reverse=True)

    return res

In [ ]:
# 1. trouver un moyen d'inverser une liste
# 2. poser une option (dans les paramètres) égale à False
# 3. si l'option est vraie, alors on retournera la liste "resultat" inversée

In [19]:
# Tester avec les deux options : op=False et op=True
l1 = [1,2,3]
print(square(l1, False))
print(square(l1, True))

[9, 4, 1]
[1, 4, 9]

In [20]:
square(l1)

[1, 4, 9]

In [22]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>


__Exercice 6 - ça ressemble à un exo de la séance 4...__
    
    
Nous avons à disposition une base de données contenant des adresses mails (`mails.txt`). Importez ces données sous python (utilisez le moyen que vous souhaitez). 
    
<br>
    
L'objectif est de créer une base de données avec trois colonnes : 
    
- colonne1 : contient les prénoms (avec majuscules) 
    
- colonne2 : nom
    
- colonne3 : adresse mail
    
<br>
    
Maintenant que vous savez le faire pour une base de données, écrivez une fonction permettant de généraliser ce code à toute nouvelle liste de mail.

# Brouillon

In [41]:
# separation d'une adresse mail en fonction de : nom, prenom et mail
mail = "durand.aaliyah@hotmail.fr"

variable = mail.split("@")
s_nom_prenom = variable[0]
l_nom_prenom = s_nom_prenom.split(".")
nom = l_nom_prenom[0].capitalize()
prenom = l_nom_prenom[1].capitalize()
print(nom, prenom, mail)

Durand Aaliyah durand.aaliyah@hotmail.fr

In [46]:
# brouillon sur dictionnaire
d = {"var":[]}
d["var"].append(1)
print(d)
d["var"].append(2)
print(d)

{'var': [1]}
{'var': [1, 2]}

# Résolution d'un cas particulier (bdd - mails.txt)

- on importe les données avec pandas
- on itère dans une colonne pour aller chercher les mails un par un 
- on traite les mails un par un : on récupère nom pernom et mail
- ces éléments sont ensuite stockés dans un dictionnaire

In [ ]:
# importation librairies
import pandas as pd

In [ ]:
# importation bdd mails
df_mails = pd.read_csv("../data/mails.txt")
df_mails.head()

# suppression des nan
df_mails = df_mails.dropna()

In [58]:
# boucle à travers la bdd des mails
dico = {"prenom": [], "nom": [], "mail": []}
for mail in df_mails["mails"]:
    
    # separer nom, prenom et mail dans l'adresse mail
        # (pour une adresse : variable mail)
    variable = mail.split("@")
    s_nom_prenom = variable[0]
    l_nom_prenom = s_nom_prenom.split(".")
    nom = l_nom_prenom[0].capitalize()
    prenom = l_nom_prenom[1].capitalize()
    
    # ajouter nom, prenom et mail dans le dictionnaire
    dico["nom"].append(nom)
    dico["prenom"].append(prenom)
    dico["mail"].append(mail)

In [61]:
# création du dataframe final : colonnes prenom, nom et mail
df = pd.DataFrame(data = dico)
df.head()

    prenom      nom                       mail
0  Aaliyah   Durand  durand.aaliyah@hotmail.fr
1   Aapeli  Senecat     senecat.aapeli@gouv.fr
2     Aapo    Djeda     djeda.aapo@wanadoo.com
3    Aaren   Elsine    elsine.aaren@geeknet.ue
4    Aarne    Vazou   vazou.aarne@deep_blue.ru

# Généralisation dans le cadre d'une fonction

In [62]:
def nom_prenom_mail(df):
    """
    objectif : transformation d'un base de données contenant des adresses mails en un dataframe avec trois colonnes
    nom, prenom et adresse mail
    
    dependance : pandas
    
    df : pd.DataFrame contenant les adresses mail au format str (sans nan)
    """
    
    # boucle à travers la bdd des mails
    dico = {"prenom": [], "nom": [], "mail": []}
    for mail in df["mails"]:

        # separer nom, prenom et mail dans l'adresse mail
            # (pour une adresse : variable mail)
        variable = mail.split("@")
        s_nom_prenom = variable[0]
        l_nom_prenom = s_nom_prenom.split(".")
        nom = l_nom_prenom[0].capitalize()
        prenom = l_nom_prenom[1].capitalize()

        # ajouter nom, prenom et mail dans le dictionnaire
        dico["nom"].append(nom)
        dico["prenom"].append(prenom)
        dico["mail"].append(mail) 
        
    # création du dataframe final : colonnes prenom, nom et mail
    df = pd.DataFrame(data = dico)
    
    return df

In [63]:
# test de la fonction avec df_mails
nom_prenom_mail(df_mails)

        prenom        nom                         mail
0      Aaliyah     Durand    durand.aaliyah@hotmail.fr
1       Aapeli    Senecat       senecat.aapeli@gouv.fr
2         Aapo      Djeda       djeda.aapo@wanadoo.com
3        Aaren     Elsine      elsine.aaren@geeknet.ue
4        Aarne      Vazou     vazou.aarne@deep_blue.ru
...        ...        ...                          ...
11610   Zsuzsi      Smith        smith.zsuzsi@yahoo.fr
11611   Zuberi   Anderson    anderson.zuberi@yoopix.bo
11612    Zubin      Monti     monti.zubin@plusdidee.fr
11613     Zula     Keynes          keynes.zula@tjpp.pl
11614  Zuleika  Mouchkine  mouchkine.zuleika@ipynb.com

[11615 rows x 3 columns]