<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>


<b><center><font size="6">Travaux Dirigés - Econométrie en finance - séance 2 </font></center></b>
    

    
<g><h7><center> CM - P. Durand  - pierre.durand@u-pec.fr </center></h7></g>

<g><h7><center> TD - A. Birem  - abderraouf.birem@etu.u-pec.fr </center></h7></g>


<b><center><font size="5">M1 - 2023-2024</font></center></b> 



</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

<hr style=" border: 2.5px solid black;">


<b>Objectifs de la séance : </b>

- Révision des outils de bases vus en première séance
- Bases de données sous python :
    - importation et sauvegarde
    - manipulation de variables (création, suppréssion, compbinaison,...)
    - statistiques descriptives



</span>

<hr style=" border: .5px solid black;">
<br>


<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
    
<b>Exercice 1 - Révision sur les bases  </b>

On fait un premier exercice pour se remémorer ce qui a été vu en première séance.

1. Créez des variables en donnant un nom logique pour :
    - un `int`
    - un `str`
    - un `float`
    - une `list` (avec quelques `int` ou `float`)

</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
    
2. Une liste est créée dans la cellule suivante. Elle contient des `int` et des `str`. Créez une boucle permettant de compter le nombre d'éléments qui sont des `int` et le nombre d'éléments qui sont des `str`.


</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
    
2. Deux listes sont données : 
- `l1` qui contient des chaînes de caractère  
- `l2` qui contient des entiers

Créez une boucle permettant de stocker dans une nouvelle liste (`l3` par exemple) les éléments de `l1`, en respectant les consignes suivantes :
- dans la boucle, parcourrez `l2`
- si l'élément `n` de `l2` est paire, ajoutez le $n$ème élément de `l1` à `l3`
- sinon rien

Enfin, affichez `l3`.

_Note_ : Rappelez de `.append()` et de `%`.

</span>

<hr style=" border: .5px solid black;">
<br>


<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
    
<b>Exercice 2 - Importer une base de données : .xlsx et .txt  </b>

Vous trouverez dans la DropBox, deux bases de données : 
- salaireprod.txt 
- cointegration.xlsx


1. Téléchargez les deux bases et mettez les dans un dossier dont vous connaissez l'emplacement 

<br>

2. Importez le package permettant de manipuler des données sous python

<br>

3. À l'aide des fonctions adéquates, téléchargez les deux bases sous python :
 - salaireprod.txt doit être téléchargée avec `.read_csv()` (attention au séparateur), sous le nom `df1`
 - cointegration.xlsx doit être téléchargée avec `.read_excel()`,  sous le nom `df2`

</span>

In [1]:
import pandas as pd

In [2]:
chemin = "C:\\Users\\issak\\Documents\M1\Econométrie en Banque-Finance\data"

<hr style=" border: .5px solid black;">
<br>


<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   
<b>Exercice 3 - Manipulation des données  </b>

1. Pour chacune des bases de données (`df1` et `df2`), et à l'aide des fonctions vues en cours : 
    
    a. Affichez les 8 premières lignes
    
    b. Affichez les dimansions des bases 
    
    c. Affichez la liste des colonnes
    
    d. On remarque que cette liste est de type `list`. À l'aide des inices, afficher les noms des deuxièmes colonnes.
    
    e. Affichez les deuxièmes colonnes des dataframes
    
    f. Affichez les deuxièmes colonnes pour des valeurs supérieurs à $60$

</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

2. Nous rappelons les éléments suivant : 

    - la fonction `.shift(1)` appliquée à un dataframe permet de décaler une colonne d'une période
    - un taux de croissance se calcul comme suit : soit $X_t$ une variable qui évolue dans le temps, alors

$$\frac{X_t - X_{t-1}}{X_{t-1}} *100 = (\frac{X_t}{X_{t-1}} - 1) *100$$ 
est son taux de croissance.

Créez une nouvelle colonne avec le taux de croissance de chaque variable pour df1. Les noms des nouvelles colonnes sera celui des anciennes auxquels on ajoute `"_gr"` (pour growth rate).
</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

3. Oups ! Le taux de croissance de la variable `"Years"` ne sert à rien... Retirons cette variable avant d'enregistrer la nouvelle base de données. 

_Note_ : on utilisera la fonction `.drop()`.
</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

4. Cette fois-ci, on est bon. On peut désormais enregistrer notre travail ! 
</span>

<hr style=" border: .5px solid black;">
<br>


<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   
<b>Exercice 4 - Statistiques descriptives  </b>

1. En faisant la recherche sur internet `axis label scatter matplotlib`, inspirez-vous du forum stack overflow pour faire les nuages de points (avec noms sur les axes et un titre) pour les couples de variables suivants :  
    - df1 : "wages" et "productivity"
    - df2 : "Lconso" et "Lrev"

Commentez les nuages de points

</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   


</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   
2. En vous inspirant des commandes utilisées pour le nuage de points, proposez un graphique pour les 4 variables, permettant de voir leur évolution dans le temps. En utilisant la commande `plt.savefig()`, vous sauvegarderez vos graphiques (et en mettant en argument le nom que vous voulez donner au graphique).


_Note_ : la fonction à utiliser n'est pas `.scatter()` mais `.plot()`.

</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   
3. Affichez le tableau de corrélations entre "wages" et "productivity" de df1. Puis le tableau des corrélations avec les taux de croissances de ces deux variables. Commentez.

</span>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   
4. Une commande vue en cours permet d'afficher les principales statistiques descriptives des variables d'un dataframe. Affichez les pour df1 puis Commentez.

</span>

<hr style=" border: .5px solid black;">
<br>


<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
   
<b>Exercice 5 - Tout de A à Z  </b>

Nous souhaiterions étudier l'évolution de l'indice boursier CAC40. À l'aide des différents outils mobilisés dans ce TD, rendez-vous sur le site de <a href="https://fr.finance.yahoo.com/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAABp6_pkXMwulsm0y4B8Pr3Haq_-44HDvLzhUsxELsbq59fqItG8VLMRNdQJL2xsiw9jDKfGIohuho5X2VYyXFhNi05a6fLNfPH5rMg6bDLEiK8rOJf4qBMJHgVs41hmZFcwrFP-mVHWXUXrg2CN72jfFJBh6JZ_8O6yIJXODD5eo">Yahoo Finance</a> afin de télécharger l'historique des données du CAC40 en fréqeunce mensuelle depuis octobre 2000. 

Importez ensuite ces données sous python (attention de bien vérifier le format des données) et menez une courte étude graphique et statisitque appropriée.


</span>