<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>
    
<b><center><font size="5">Chasse au trésor...</font></center></b> 
    
<b>Deuxième partie</b>

<span style='line-height:1.5;font-size: 17px;font-family:"Times New Roman"'>

Bravo !! Vous avez trouvé la première clef et vous avez su arriver jusque là !
    
Pour trouver la prochaine clef (`clef2`) qui vous permettra de débloquer la troisième partie, vous devrez résoudre l'exercice suivant : 
    
- Importez la base de données `df_exo2.txt` avec pandas
- Créez une nouvelle colonne dans laquelle vous aurez calculé le taux de croissance de la colonne `col5`
- Isolez la ligne où le taux de croissance est supérieur à $1000000$...

In [1]:
import pandas as pd

In [7]:
path = "C:\\Users\\issak\\Documents\\M1\\Introduction à Python\\"
df = pd.read_csv(path+"df_exo2.txt", sep=";")
df

           col1  col2   col3       col4   col5                            col6
0       1024701  0.62   6.26   7.408046  65.08       durand.aaliyah@hotmail.fr
1       1003167  1.45  11.38  17.342588  23.21          senecat.aapeli@gouv.fr
2       1006220  1.08   9.93   7.384876  83.48          djeda.aapo@wanadoo.com
3       1003918  2.05   9.48   5.514464  73.06         elsine.aaren@geeknet.ue
4        105357  1.11  10.20  12.825685  63.18        vazou.aarne@deep_blue.ru
...         ...   ...    ...        ...    ...                             ...
116295  1206824  1.73  12.24   5.335162  75.19          kurylenko.aella@cia.ch
116296   142042  1.36  10.68  94.530877   4.39           pitt.ælred@carrouf.pc
116297  1202625  1.70   9.51   7.213107  82.38     clooney.aemilia@corsaire.ma
116298  1012744  1.45  10.66   4.806854  78.25  dupont.aeneas@monte_cristo.vil
116299   100529  1.51  11.52   3.012260  67.05           smith.aengus@yahoo.fr

[116300 rows x 6 columns]

In [13]:
df["col5_growth"] =  ((df["col5"] / df["col5"].shift(1)) - 1)*100
df[df['col5_growth']>1000000]

,col1,col2,col3,col4,col5,col6,col5_growth
61219,1005188,-0.39,14.96,10.348383,10000000.0,la_clef2_est_10@solution.com,999999900.0